body{
	font-family: Arial;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
}

h1{
	text-align: center;
	font-size: 2.5rem;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: rgb(0,80,160);
}

